<html>
   <head>
   </head>
   <link rel="stylesheet" href="/css/main.css" type="text/css">
   <body>
      <div id="mainContainer">
         <h1><%= staff.name %></h1>
         <h5><div class="redcell"></div><span><%= staff.jobTitle %></span></h5>
         <h5><div class="redcell"></div><span><%= staff.department %></span></h5>
         <h5><div class="redcell"></div><span><%= staff.description %></span></h5>
      </div>
   </body>
</html>